@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
    background-image: url('https: //images.pexels.com/photos/544268/pexels-photo-544268.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.main-content {
    margin-top: 0;
    background-color: #5e548e;
    padding: 20px 40px;
}

.app-name-style {
    color: #ffd000;
    margin: 0 50px;
    letter-spacing: 10px;
    font-family: 'Permanent Marker', cursive;
    font-weight: bolder;
    font-size: 30px
}

a {
    text-decoration: none;
}

.nav-link {
    letter-spacing: 2px;
    margin: 0 20px;
}

.story-link {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #7209b7;
}

.story-link:hover {
    color: #ffd60a;
}

.page-title {
    padding: 20px 0;
    color: #90a955;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin: 30px 0;
    text-align: center;
    border-bottom: 1px solid #ffc300
}

.home-page-title {
    padding: 20px 0;
    color: #ffc300;
    // text-transform: uppercase;
    letter-spacing: 6px;
    margin: 30px 0;
    text-align: center;
    border-bottom: 1px solid #ffc300
}

.home-page-content {
    padding: 20px 0;
    color: #f7ede2;
    // text-transform: uppercase;
    letter-spacing: 6px;
    margin: 30px 0;
    text-align: center;
    border-bottom: 1px solid #ffc300
}

form label {
    letter-spacing: 2px;
}

.btn-primary {
    padding: 14px 30px;
    margin: 20px 5px;
    background-color: #7209b7;
    border: none;
}

.btn-primary:hover {
    background-color: #3a0ca3;
}

.story-title {
    width: 50%;
    background-color: #9e2a2b;
    text-transform: uppercase;
    letter-spacing: 6px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    padding: 2% 0;
    border: 1px solid #dcdcdd;
}

.story-details {
    border: 1px solid #dcdcdd;
    background-color: rgb(183, 130, 7);
    margin: auto;
    width: 50%;
    padding: 4%;
}

.story-details-title {
    text-decoration: underline;
    letter-spacing: 2px;
}

.main-img {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 0;
}

.form-box {
    border: 1px solid #1414bd;
    background-color: rgb(225, 180, 18);
    margin: auto;
    width: 60%;
    padding: 2%;
    margin-top: 5%;
}

.create-content {
    height: 50px;
}
